*, :root{
    background-color: #000;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:focus{
    outline: none;
    transform: scale(1.2);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 1;
    color:#fff;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color:#fff;
    opacity: 1;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color:#fff;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 18- */
    color:#fff;
    opacity: 1;
  }
.main{
    display: inline-flex;
    height: 100vh;
    transition: transform .1s ease-in-out;
}
#app{
    width: 100vw;
    overflow-y:scroll;
    margin:0 auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.app__inner__container{
    display: block;
    margin:0;
    overflow: hidden;
    position: relative;
    background-color: transparent;
}
.app__inner__container *{
    overflow-y: hidden;
}
.app__inner{
    margin:0;
    min-height: 100vh;
    width: 100vw;
    top:0;
    display: flex;
}
.up::after{
    content:' ';
    height: 100vh;
    display: block;
}
.app__inner, .app__inner *{
    background-color: transparent;
}
.navlink{
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 3rem;
}
.navigation{
    display: flex;
    z-index: 2;
}
.navigation__ul{
    list-style: none;
    text-align: right;
    margin: auto 10% auto auto;
}
.navigation__ul, .navigation__ul>li{
    overflow: visible;
}
.navigation--active{
    transform: translateX(0) !important;
}
.hamburger{
    display: inline-block;
    position: fixed;
    cursor: pointer;
    border: none;
    padding: 10px;
    box-sizing: content-box;
    background-color: transparent;
}
.hamburger__box{
    background-color: transparent;
    position: relative;
    height:3rem;
    width:3rem;
}
.hamburger__inner{
    bottom: 5px;
    left: 0;
    width: 100%;
    background-color: #fff;
    position: absolute;
    height: .4rem;
}
.hamburger__inner:first-child{
    top:.1rem;
}

.app__article{
    width: 100vw;
    display:flex;
}
.app__section{
    width: 100vw;
}
.app__header{
    animation: headerIn .3s both;
}
.app__description{
    animation: descriptionIn .3s both;
}
.appOut{
    animation: appOut .2s both;
}
.disabled{
    overflow-y: hidden !important;
    cursor:pointer;
}

.loader--active{
    position: fixed;
    margin:0 auto auto 0;
    width:10%;
    height:.5%;
    background-color: #fff;
    z-index: 1;
    animation:loaderAnimation 1s linear 1s infinite alternate;
}

.input__false{
    background-color: red;
}

@keyframes headerIn{
    from{
        transform:translateX(-100vw)
    }
    to{
        transform:translateX(0)
    }
}
@keyframes descriptionIn{
    from{
        transform:translateX(100vw)
    }
    to{
        transform:translateX(0)
    }
}
@keyframes appOut{
    from{
        transform:translateX(0)
    }
    to{
        transform:translateX(100vw)
    }
}
@keyframes loaderAnimation{
    from{
        transform: translateX(-10vw)
    }
    to{
        transform: translateX(105vw)
    }
}
.imagebox{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
    overflow: visible;
    background-color: transparent;
}

.imagebox__div{
    background-color: transparent;
}

.imagebox__container{
    -webkit-position: sticky;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    display: block;
    overflow-y: hidden;
}

.photocontainer{
    width:30vw;
    margin-right: 10vw;
    overflow: visible;
}
.hamburger--active .hamburger__inner:first-child{
    transform: translateY(1rem) rotate(45deg);
}
.hamburger--active .hamburger__inner:last-child{
    transform: translateY(-1rem) rotate(-45deg);
}

@media all and (orientation:landscape){
    .main{
        width:150vw;
        transform: translateX(-50vw);
    }
    .navigation{
        width:50vw;
    }
    .navlink{
        padding: 2rem 0;
    }
    .image{
        height: 40vh;
    }
    .hamburger{
        bottom: 20px;
        left: 20px;
    }
    .app__header{
        font-size:6rem;
        font-weight: 700;
    }

}
@media all and (orientation:portrait){
    .main{
        width:200vw;
        transform: translateX(-100vw);
    }
    .navigation{
        width:100vw;
    }
    .image{
        height: 20vh;
    }
    .hamburger{
        bottom: 1rem;
        left: 1rem;
    }
    .navlink{
        padding: 1rem 0;
    }
    .app__description{
        font-size: 1.5rem;
    }
}


@media (min-width:1440px) {
    *, :root{
        font-size: 16px;
    }
}

@media (max-width:1440px) {
    *, :root{
        font-size: 10px;
    }
}